{% extends 'baseBack.html.twig' %}

{% block title %}Table Restaurant index{% endblock %}

{% block body %}
    <h1>TableRestaurant index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Restaurant</th>
                <th>Nombre de personne</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for table_restaurant in table_restaurants %}
            <tr>
                <td>{{ table_restaurant.idRestaurant.nom }}</td>
                <td>{{ table_restaurant.typeTable }}</td>
                <td>
                    <a href="{{ path('app_table_restaurant_show', {'idTable': table_restaurant.idTable}) }}">show</a>
                    <a href="{{ path('app_table_restaurant_edit', {'idTable': table_restaurant.idTable}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_table_restaurant_new') }}">Create new</a>
{% endblock %}
